body {font: arial;}
h2 {text-align: center;}
h3 {text-indent: 10px;
    text-decoration-line: underline;
}
.profil {background-color: #96CEB4;}
.image{text-align: center;}
.decs {background-color: #FFAD60;}
.spesifikasi {background-color: #FFEEAD;}